
<p>
	<select onchange="window.location.href='/stations/'+this.value;">
		<option value=""><%= txt %></option>
		<%= options_from_collection_for_select(Station.all, :cta_id, :name, @station_id) %>
	</select>	
</p>
