<% if params['zack'] %>
<p>
	Faves: 
<% if @station_id == '40380' %>
Clark/Lake
<% else %>
<a href="/stations/40380">Clark/Lake</a>
<% end %> | 
<% if @station_id == '40320' %>
Division
<% else %>
<a href="/stations/40320">Division</a>
<% end %>
</p>
<% end %>

<% if session[:debug] %>
<hr/>
<span id="debug">Session Loc: <%= session[:loc].inspect %> // Session Accuracy: <%= session[:accuracy].inspect %> // Radius: <%= @radius %></span>
<% end %>