
<div id="select-station">
	
	<p id="locating">
		You don't appear to be on a mobile device. Try visiting us on your iPhone/iPad/mobile device.
	</p>
	
	<%= render :partial => 'shared/station-dropdown', :locals => { :txt => 'Select a station' } %>
		
</div>
