
<div id="stations-container">
<% @stations.each do |station| %>
	<ul>
		<%= render :partial => 'shared/station', :object => station %>
		<%= render :partial => 'shared/arrival', :collection => station.arrivals %>
		<%= render :partial => 'shared/no-arrivals' if station.arrivals.count <= 0 %>
	</ul>
<% end %>
</div>

<% #render :partial => 'shared/testing' %>
<%= render :partial => 'shared/refresh' %>
