
<div id="select-station">
	
	<% if use_location? %>
	<p id="locating">
		One sec while we locate you...
	</p>
	<% end %>
	
	<select onchange="window.location.href='/station/'+this.value;">
		<option value=""><%= use_location? ? "or select a station" : "Select a station" %></option>
	<%= options_from_collection_for_select(Station.all, :cta_id, :name) %>
	</select>	
</div>

<% if use_location? %>
<script>
	
	function success(position) {
		//console.log('success');
		window.location.href = '/?lat=' + position.coords.latitude + '&lng=' + position.coords.longitude + '&accuracy=' + position.coords.accuracy;
	}

	function error(msg) {
		alert("Error: " + msg);
		console.log('failed');
	  console.log(msg);
		console.log(arguments);
	}

	$(function() { 
		//console.log('hi');
		if (navigator.geolocation) {
			//console.log('searching...')
	  	navigator.geolocation.getCurrentPosition(success, error);
		} else {
	  	error('not supported');
		}
	});

</script>
<% end %>