
<div id="select-station">
	
	<p id="locating">
		Looks like you're from outside of Chicago...
	</p>
	
	<%= render :partial => 'shared/station-dropdown', :locals => { :txt => 'Select a station' } %>
	
</div>

